@use '../abstracts' as *;

/* Header Styles */
.header {
  background-color: var(--color-primary);
  color: #fff;
  padding: map-get($spacing-scale, 2) map-get($spacing-scale, 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: background-color $transition-duration ease, color $transition-duration ease;

  .logo {
    font-family: var(--font-main-navigation-family);
    font-size: var(--font-main-navigation-size);
    font-weight: var(--font-main-navigation-weight);
  }

  nav {
    ul {
      display: flex;
      gap: map-get($spacing-scale, 3);
      list-style: none;

      li {
        a {
          color: #fff;
          font-family: var(--font-main-navigation-family);
          font-size: var(--font-main-navigation-size);
          font-weight: var(--font-main-navigation-weight);
          transition: color $transition-duration ease;

          &:hover {
            color: var(--color-secondary);
          }
        }
      }
    }
  }

  .theme-toggle {
    background-color: var(--color-secondary);
    color: #fff;
    border: none;
    padding: map-get($spacing-scale, 1) map-get($spacing-scale, 2);
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color $transition-duration ease;

    &:hover {
      //background-color: darken(var(--color-secondary), 10%);
      background-color: var(--color-secondary-dark);
    }
  }
}
