@use "../abstracts" as *;


/* Sidebar Styles */
.sidebar {
  background-color: var(--background-surface);
  color: var(--text-primary);
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: map-get($spacing-scale, 3);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform $transition-duration ease, background-color $transition-duration ease, color $transition-duration ease;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: map-get($spacing-scale, 2);

      a {
        color: var(--text-primary);
        font-family: var(--font-main-navigation-family);
        font-size: var(--font-main-navigation-size);
        font-weight: var(--font-main-navigation-weight);
        transition: color $transition-duration ease;

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
