@use '../abstracts' as *;

.button {
  padding: calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 3);
  border-radius: var(--border-radius);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  @include transition(background-color, 0.3s, ease);

  &--primary {
    background-color: var(--color-primary);
    color: var(--text-neutral);

    &:hover {
      background-color: adjust-color(var(--color-primary), 10%);
    }

    &:disabled {
      background-color: var(--color-neutral);
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &--secondary {
    background-color: var(--color-secondary);
    color: var(--text-neutral);

    &:hover {
      background-color: adjust-color(var(--color-secondary), 10%);
    }

    &:disabled {
      background-color: var(--color-neutral);
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}


