@use '../abstracts' as *;
@use 'sass:map';
.button {
  padding: get-spacing('sm') get-spacing('md');
  border: none;
  border-radius: map.get($border-radius, 'md');
  cursor: pointer;
  font-size: get-font-size('md');
  @include transition(background-color, color);

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-background);

    &:hover {
      background-color: var(--color-primary-dark);
    }
  }

  // Additional button variants...
}
