@use '../abstracts' as *;

/* Button Styles */
.button {
  display: inline-block;
  padding: map-get($spacing-scale, 1) map-get($spacing-scale, 2);
  border: none;
  border-radius: $border-radius;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  font-size: map-get($font-sizes, md);
  line-height: 1.5;
  cursor: pointer;
  transition: background-color $transition-duration ease, color $transition-duration ease;

  &--primary {
    background-color: var(--color-primary);
    color: #fff;

    &:hover {
      //background-color: darken(var(--color-primary), 10%);
      background-color: var(--color-secondary);
    }

    &:disabled {
      //background-color: lighten(var(--color-primary), 30%);
      background-color: var(--color-primary);
      cursor: not-allowed;
    }
  }

  &--secondary {
    background-color: var(--color-secondary);
    color: #fff;

    &:hover {
      //background-color: darken(var(--color-secondary), 10%);
      background-color: var(--color-secondary);

    }

    &:disabled {
      //background-color: lighten(var(--color-secondary), 30%);
      background-color: var(--color-secondary);
      cursor: not-allowed;
    }
  }
}

