@use '../abstracts' as *;


/* Card Styles */
.card {
  background-color: var(--background-surface);
  color: var(--text-primary);
  border-radius: $border-radius-lg;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: map-get($spacing-scale, 3);
  transition: background-color $transition-duration ease, color $transition-duration ease;

  h2 {
    font-family: var(--font-main-title-family);
    font-size: var(--font-main-title-size);
    margin-bottom: map-get($spacing-scale, 2);
  }

  p {
    font-family: var(--font-body-text-family);
    font-size: var(--font-body-text-size);
    line-height: var(--font-body-text-line-height);
    margin-bottom: map-get($spacing-scale, 2);
  }

  &:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
}
