// src/styles/components/_theme-toggle.scss

.theme-toggle-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme-toggle {
  background: var(--color-neutral-light);
  color: var(--color-neutral-dark);
  border: 1px solid var(--color-neutral-medium);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;

  &:hover {
    background-color: var(--color-neutral-medium);
    color: var(--color-neutral-light);
  }
}

.theme-selector {
  padding: 0.5rem;
  border: 1px solid var(--color-neutral-medium);
  border-radius: var(--border-radius);
  background: var(--color-neutral-light);
  color: var(--color-neutral-dark);
  cursor: pointer;
  transition: background-color var(--transition-speed) ease, color var(--transition-speed) ease;

  &:hover {
    background-color: var(--color-neutral-medium);
    color: var(--color-neutral-light);
  }
}
