@use '../../../styles/abstracts' as *;

.button {
  @include button();

  &--primary {
    @include button('primary');
  }

  &--secondary {
    @include button('secondary');
  }

  &--accent {
    @include button('accent');
  }

  &--sm {
    padding: map-get($spacing-scale, 'xs') map-get($spacing-scale, 'sm');
    font-size: map-get($font-sizes, 'sm');
  }

  &--md {
    padding: map-get($spacing-scale, 'sm') map-get($spacing-scale, 'md');
    font-size: map-get($font-sizes, 'md');
  }

  &--lg {
    padding: map-get($spacing-scale, 'md') map-get($spacing-scale, 'lg');
    font-size: map-get($font-sizes, 'lg');
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  @include respond('md') {
    /* Styles pour les écrans de taille md et plus */
    font-size: map-get($font-sizes, 'lg');
  }

  @include respond('sm') {
    /* Styles pour les écrans de taille sm et plus */
    font-size: map-get($font-sizes, 'md');
  }
}
