/* src/components/CVList/CVList.module.scss */

.container {
  margin-top: 20px;
}

.cvList {
  list-style: none;
  padding: 0;
}

.cvItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;

  button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
}
