@use '../abstracts/index' as *;

/* Width Utilities */
.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

@each $key, $value in $spacing-scale {
  .w-#{$key} {
    width: $value;
  }
}

/* Height Utilities */
.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

@each $key, $value in $spacing-scale {
  .h-#{$key} {
    height: $value;
  }
}
