@use 'sass:map';
.home {
  background-color: var(--background-primary);
  padding: var(--spacing-unit) * 3;

  h1 {
    font-size: map.get($font-sizes, xxl);
    color: var(--color-primary);
    margin-bottom: var(--spacing-unit) * 2;
  }

  p {
    font-size: map.get($font-sizes, md);
    color: var(--text-primary);
    margin-bottom: var(--spacing-unit) * 3;
  }

  .home__cta {
    margin-top: var(--spacing-unit) * 2;
  }
}

