@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: $dark-color;
  }
}
