/* src/styles/globals.scss */

@import './variables.scss';
@import './mixins.scss';

body {
  margin: 0;
  font-family: 'Arial, sans-serif', serif;
  background-color: $background-color;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Reset some default styles */
* {
  box-sizing: border-box;
}
