@use '../../styles/abstracts' as *;

.home {
  padding: get-spacing('lg');

  h2 {
    font-size: get-font-size('2xl');
    color: var(--color-primary);
  }

  p {
    font-size: get-font-size('md');
    margin-bottom: get-spacing('md');
  }

  .button {
    //@include button; // Assuming you have a button mixin
  }
}
