@use 'sass:map';
@use '@/styles/abstracts' as *;

.home {
  padding: map.get($spacing-scale, 1);
  background-color: var(--background-primary);
  min-height: 100vh;

  h1 {
    font-size: map.get($font-sizes, xxl);
    color: var(--color-primary);
    margin-bottom: map.get($spacing-scale, 2);
  }

  p {
    font-size: map.get($font-sizes, md);
    color: var(--text-primary);
    margin-bottom: map.get($spacing-scale, 3);
  }

  .home__cta {
    margin-top: map.get($spacing-scale, 2);
  }
}
