.cvCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
}

.cvLink {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.deleteButton {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
