@use '@/styles/abstracts/index' as *;

.footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #5a6268;
  border-top: 1px solid var(--color-secondary);

  p {
    margin: 0;
  color: #a0c5f1;
  }
}
