/* src/styles/base/_typography.scss */

body {
  font-family: $font-family-base;
  font-size: map-get($font-sizes, 'md');
  color: map-get($colors, 'text');
  background-color: map-get($colors, 'background');
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  color: map-get($colors, 'text');
  margin-bottom: map-get($spacing-scale, 'sm');
}



